@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

@{
    Layout = null;
}
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Party</title>
    </head>
    <body>
        <div>
            <div>
                We're going to an exciting party!<br/>
                {to do: sell it better}
            </div>
        </div>
    </body>
</html>