@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Party</title>
    </head>
    <body>
        <div>
            <h1>Thank you @Model?.Name.</h1>
            <div>
            @if (Model?.WillAttend == true)
            {
                @:Thank you for attending!
            }
            else
            {
                @:Sorry!
            }
            </div>
            <a asp-action="Index">Back to Index</a>
            <p>Go to <a asp-action="ListResponse">List of Attendees</a></p>
        </div>
    </body>
</html>